{% block sidebar %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                About Us
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                We are a team which develop any desired feature you might want to get your awesome blog
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Know more!</a>
        </footer>
    </div>
{% endblock sidebar %}
